// index
.card {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

  &:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  }
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.list-group-flush  .list-group-item .card-title:hover{
  color: #30afb8;
}
.accordion .accordion-button:hover{
  background-color: #f8f9fa ;
}
.accordion .accordion-button:not(.collapsed){
  background-color: white;
  border-top: 3px #2b9ea6 solid;
  box-shadow: none;
}

.text-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

.text-indent {
  text-indent: 2rem;
}